*{
    padding: 0;
    margin: 0;
}
.body{
    background: rgb(216, 210, 210);
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
/* start of Login page formatting */
.loginForm{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 0;
    border: 1px solid rgb(239, 239, 245);
    color: #111;
    max-width: 100%;
    min-width: 500px;
    width: 30%;
    background: #fff;
}
.formHeading{
    padding-top: 3%;
    color: #fff;
    font-weight: normal;
}
/* format maseno logo */
.masenoLogoImage{
    width: 100px;
    height: 100px;
    padding-bottom: 2%;
}
.formTop{
    background-color:#00a7d0;
    width: 100%;
}
.formContent{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
}
.usernameLabel,
.passwordLabel{
    font-weight: bold;
    text-align: left;
    padding-right: 1%;
    width: 100px;
}
/* put spacing between input fields */
.loginUsername{
    width: 70%;
    padding: 0.5%;
}
.loginPassword{
    width: 70%;
    padding: 0.5%;
    margin-top: 2%;
    margin-bottom:2%;
}
.loginButton{
    padding: 2%;
    width: 100%;
    border-radius: 15%;
}
.regButton{
    width: 30%;
    background-color: green;
    border-color: #3f85ad;
    height: 40px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
.regButton:hover{
    color: white;
    background-color: #00a7d0;
}
.regLabel{
    padding:0;
    margin-top: 0;
    margin-bottom: 1%;
    padding-bottom: 0;
    margin-bottom: 2%;
    text-align: center;
}
.hr-class{
    margin-top: 2%;
    margin-bottom: 0.5%;
}
/* end of login page formatting */

/* register form formatting */
.registerForm{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 0;
    border: 1px solid rgb(239, 239, 245);
    color: #111;
    max-width: 100%;
    min-width: 500px;
    width: 60%;
    background: #fff;
}

.registerFormContent{
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 1%;
    margin-top: 2%;
}
.registerFormContent label{
    width: 200px;
}
.registerFormContent input{
    width:50%;
   margin: 1%;
}
.FirstName,
.MiddleName,
.LastName,
.regNumber,
.email,
.phoneNumber,
.password1,
.confirmPassword{
    padding: 0.5%;
}

.registerButton{
    background-color: rgb(2, 105, 2);
    color: #fff;
    font-size: 20px;
    border-radius: 5%;
    padding: 0.5%;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.registerButton:hover{
background-color: rgb(13, 112, 13);
box-shadow: 10px 10px 10px rgb(85, 81, 81);
}
.registerForm-footer{
    background-color: #00a7d0;
    color: white;
    padding: 0.5%;
}
.register-footer-p{
    padding-top: 1%;
}
/* end of register form formatting styles */

/* student dashboard */
.navbar{
    background-color: #1f2021;
}
/* <a class="nav-item nav-link active" href="studentDashboard.html" style="color: white;">Home</a> */
.nav-item,.nav-link{
    color: white;
}
.navTitle{
    color: red;
}
.navbar-brand{
    color: #fff;
}
.navbar-brand:hover,
.navbar-brand:focus{
    color: white;
}


.jumbotron{
    background-color: #fff!important ;
    color: black;
}


/* SOMU BURSARY SECTION */
.somuLogo{
    padding: 2%;
}


.SOMU-Subtitle{
    text-align: center;
}
.SOMU-Form{
    background: rgb(216, 210, 210);
}
.formContents{
    margin-top: 5%;
}

.personalInformationForm{
    position: relative;
   background: white;
    color: black;
    border: 1px solid #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 100%;
    min-width: 80%;
    width: 60%;
}


.personalInformationForm label{
    width: 150px;
    text-align: left;
    padding-left: 0;
    margin: 0;
}
.personalInformationForm  input{
    width: 50%;
}
.center{
    text-align: end;
}
button.save-Button{
    color: white;
    background: #00a7d0;
    padding: 1%;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Family status form*/

.family-status-form{
    background: white;
    color: black;
    border: 1px solid #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    /* padding-right: 2%; */
    max-width: 100%;
    min-width: 80%;
    width: 60%;
    text-align: left;
}
.family-status-form label{
    width: 250px;
    margin: 0;
    padding-left:10%; 
    padding-right: 0;
}

.family-status-form input{
    padding-right: 0;
    margin-right: 0;
    margin-left: 6%;
    padding-left: 0;

}

.save-Button-family{
    color: white;
    background: #00a7d0;
    padding: 1%;
    border-radius: 10px;
    margin-left: 40%;
    margin-right: auto;
    position: relative;
}
/* end of family status form formatting */

/* loan details formatting */
.loan-disclaimer{
    text-align: center;
    font-weight: bold;
    color: red;
}
.loan-contents{
    border: 1px solid #fff;
    background: white;
    color: black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    text-align: left;
    min-width: 80%;
    max-width: 100%;
}
.loan-contents label{
    width:300px ;
    padding-left: 15%;
    padding-right: 0;
    margin-right: 0%;
}
.loan-contents input{
    width: 45%;
    margin-left: 2%;
    padding-left: 0;
    padding-right: 0;
}
.loan-details-heading{
    text-align: left;
}
.loan-details-heading{
    padding-top:2%;
    padding-left: 15%;
}
.loan-details-btn-save{
    color: white;
    background: #00a7d0;
    padding: 1%;
    border-radius: 10px;
    margin-left: 40%;
    margin-right: auto;
    position: relative;
}

.footer-section{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #fff;
    margin-top: 2%;
}
.footer-menu{
    text-align: left;
    display: flex;
    align-items: flex-start;
    padding: 0;
}
.heading-footer{
    text-align: center;
}
.footer-heading{
    text-align: center;
}

/* Loan Status Formats */
.loanStatus-table{
    margin-top: 6%;
}

table{
    width: 100%;
    margin-bottom: 1%;
}
th{
    background-color: #353232;
    color:white;
    font-weight: bold;
    padding: .5%;
}
td{
    padding: 1%;
    background-color: white;
}
table, th, td {
    border: 1px solid black;
  }
.view-details-btn{
background-color: #00a7d0;
border-radius: 10px;
color: white;
padding: 2%;
}

.print-btn{
    margin-bottom: 5%;
    display: inline-block;
}
.applicants{
    margin-top: 5%;
    margin-bottom: 10%;
}
.move-btn{
    text-align: center;
}




/* apllicants details formarts */
.main-view{
    margin-top: 5%;
}

.applicants-details-heading{
    color: black;
    text-decoration: underline;
}
.personal-details{
    margin-bottom: 2%;
}
.family-status{
    margin-bottom: 2%;
}
.loan-details{
    margin-bottom: 2%;
}
.bursary-details{
    margin-bottom: 2%;
}
.academic-details{
    margin-bottom: 2%;
}
.verify-section{
    margin-bottom: 2%;
    border: 1px solid red;
    padding: 2%;
}
.approval-section{
    margin-bottom: 2%;
    border: 1px solid red;
    padding: 2%;
}
.allocation-section{
    border:1px solid blue;
    padding: 2%;
    margin-bottom: 2%;
}
.approve-btn{
    /* padding: 0.5%; */
    background-color: #00a7d0;
    color: white;
    border-radius: 10px;
    margin-right: 2%;
    margin-left: 2%;
    display: inline-block;
}
.disapprove-btn{
    /* padding: 0.5%; */
    background-color: #00a7d0;
    color: white;
    border-radius: 10px;
    /* width: 5%; */
    display: inline-block;
}
.approve-dissaprove-p{
    color: black;
}
.allocate-amount{
    border-radius: 10px;
    margin-right: 2%;
    padding: 0.5%;
}
.allocate-btn{
    background-color: #00a7d0;
    color: white;
    display: inline-block;
    border-radius: 10px;
    padding: 0.5%;
    margin-top: 1%;
}

.previous-btn{
    color: white;
    background-color: #00a7d0;
    padding: 0.5%;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}
.previous-btn:hover{
    background-color: green;
}

.next-btn{
    color: white;
    background-color: #00a7d0;
    padding: 0.5%;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}
.next-btn:hover{
    background-color: green;
}